:host()

.input-container {
    position: relative;
    width: 500px; /* Adjust width as needed */
}

.input-container input[type="search"] {
    width: 100%;
    padding: 15px 15px;
    border: 2px solid #ccc;
    border-radius: 25px; /* Adjust the border-radius for rounded corners */
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

.input-container input[type="search"]:focus {
    outline: none;
    border-color: #0070d2; /* Change border color on focus */
}

/* Style for the search button */
.input-container button[type="submit"] {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: none;
    background-color: #0070d2; /* Button background color */
    color: #fff; /* Button text color */
    border-radius: 25px; /* Adjust the border-radius to match input */
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.input-container button[type="submit"]:hover {
    background-color: #fd2323; /* Darker shade of button color on hover */
}
